
<footer>
    <p>&copy; @DateTime.Now.Year - Meine ASP.NET-Anwendung</p>


    @*<footer>*@
    @*<div class="row primary">
            <div class="column about">

                <h3>Foolish Developer</h3>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae,
                    voluptatem corporis error non,
                </p>

                <div class="social">
                    <i class="fa-brands fa-facebook-square"></i>
                    <i class="fa-brands fa-instagram-square"></i>
                    <i class="fa-brands fa-twitter-square"></i>
                    <i class="fa-brands fa-youtube-square"></i>
                    <i class="fa-brands fa-whatsapp-square"></i>
                </div>
            </div>

            <div class="column links">
                <h3>Some Links</h3>

                <ul>

                    <li>
                        <a href="#faq">F.A.Q</a>
                    </li>
                    <li>
                        <a href="#cookies-policy">Cookies Policy</a>
                    </li>
                    <li>
                        <a href="#terms-of-services">Terms Of Service</a>
                    </li>
                    <li>
                        <a href="#support">Support</a>
                    </li>
                </ul>

            </div>


            <div class="column links">
                <h3>Some Links</h3>
                <ul>
                    <li>
                        <a href="#faq">F.A.Q</a>
                    </li>
                    <li>
                        <a href="#cookies-policy">Cookies Policy</a>
                    </li>
                    <li>
                        <a href="#terms-of-services">Terms Of Service</a>
                    </li>
                    <li>
                        <a href="#support">Support</a>
                    </li>
                </ul>
            </div>

            <div class="column subscribe">
                <h3>Newsletter</h3>
                <div>
                    <input type="email" placeholder="Your email id here" />
                    <button>Subscribe</button>
                </div>

            </div>

        </div>

        <div class="row copyright">
            <div class="footer-menu">

                <a href="">Home</a>
                <a href="">About</a>
                <a href="">Contact</a>
                <a href="">Blog</a>
                <a href="">Social</a>

            </div>
            <p>Copyright &copy; 2021 Foolish Developer</p>
        </div>*@
        <div class="footer-area-bottom">  @*source codepen*@
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-icons">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="credits">
                            <br />
                            <strong>Kontaktieren Sie uns ! :</strong>  
                            <br />

                            <br />
                            ########str.64
                            <br />
                            39106 M######g
                            <br />

                            Telefon: 0391 000–0
                            <br />
                            Telefax: 0391 000‑0000
                            <br />
                            Email: info@Luxor-mag####g.de
                        </div>

                            <div class="credits">
                                <a href="https://www.itm.nrw/wp-content/uploads/Musterdatenschutzerkaerung-nach-der-DSGVO.pdf">Datenschutz-Bestimmungen</a> | <a href="#">Terms & Condition</a>
                            </div>
                            <div class="copyright text-center">
                                <p>
                                    @*&copy; Copyright 2022. | <strong><a href="#">ABC Technologies Pvt. Ltd. </a></strong> | All Rights Reserved.*@
                                    &copy; Copyright 2022. | <strong> @Html.ActionLink("Luxor", "Index", "Home") </strong> | All Rights Reserved.

                                </p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </footer>
    @*</footer>*@
